.repositoryInputForm {
    display: flex;
    align-items: center;
    gap: 10px;
}

.repositoryInputForm input {
    flex: 2;
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border: 1px solid var(--border-colour);
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.repositoryInputForm input::placeholder {
    color: var(--text-placeholder);
}

.repositoryInputForm button {
    flex: 1;
}