FLASK_ENV=development

GITHUB_API_URL = "https://api.github.com"
GITHUB_API_TOKEN = changeme

GITHUB_CLIENT_ID = changeme
GITHUB_CLIENT_SECRET = changeme

GITHUB_ACCESS_TOKEN_URL = "https://github.com/login/oauth/access_token"
GITHUB_API_USER_URL = "https://api.github.com/user"

OPENAI_MODEL = "gpt-3.5-turbo"
OPENAI_KEY = changeme

NODE_ENV = development
REACT_APP_API_BASE_URL = changeme

REACT_APP_GITHUB_CLIENT_ID = changeme
REACT_APP_REDIRECT_URI = changeme