header {
    background-color: var(--color-fg);
    color: var(--text-primary);
    padding: 10px 0;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    padding: 16px 16px;
}
