:root {
  color-scheme: light dark;

  --color-bg: #334155;
  --color-fg: #1e293b;
  --color-border: #fff;
  --color-button: #2563eb;
  --color-focus: #4a90d9;
  --color-hover: #4a90d9;

  --text-primary: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--text-primary);
}
