.repo-input-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #475569;
    border-radius: 5px;
    background-color: #334155;
    color: #e2e8f0;
    outline: none;
}

button {
    cursor: pointer;
    background-color: #2563eb;
    color: #e2e8f0;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover {
    background-color: #1d4ed8;
    box-shadow: 0px 4px 8px rgba(37, 99, 235, 0.5);
}
