FLASK_ENV=development
SECRET_KEY=my-secret-key

ANTHROPIC_API_TOKEN=change-me
ANTHROPIC_BASE_URL=change-me
ANTHROPIC_MODEL=change-me

GITHUB_API_TOKEN=change-me
GITHUB_BASE_URL=change-me
GITHUB_API_TIMEOUT=change-me