# collection
GITHUB_API_URL = https://api.github.com
GITHUB_API_TOKEN = change_me

# analysis
ANALYSIS_PROVIDER = change_me
ANALYSIS_MODEL_URL = change_me
ANALYSIS_MODEL_TOKEN = change_me
ANALYSIS_MODEL = change_me
